<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>게시글작성</title>
        <!-- 부트스트랩 -->
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
        <!-- 추가 스타일 -->
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }
        
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
            a{text-decoration: none;}
        </style>
        <!-- 추가 스타일css -->
        <link th:href="@{/blog.css}" rel="stylesheet">
        <link th:href="@{/offcanvas.css}" rel="stylesheet">
    </head>
<body>
    <!-- 최상단 메뉴 -->
  <div class="container">
    <!-- 헤더 -->
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="link-secondary" th:href="@{|/user/signup|}">회원가입</a>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" th:href="@{/greenSchool}">그린고등학교</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="link-secondary" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
          </a>
          <a class="btn btn-sm btn-outline-secondary" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
          <a class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
        </div>
      </div>
    </header>
    <!-- /헤더 -->

    <!-- 메뉴라인 -->
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" th:href="@{/school/info}">학교소개</a>
        <a class="p-2 link-secondary" th:href="@{/school/notice}">공지사항</a>
        <a class="p-2 link-secondary" th:href="@{/question/list}">학생마당</a>
      </nav>
    </div>
    <!-- /메뉴라인 -->
  </div>
  <!-- /최상단 메뉴   -->


    <div class="container">
        <h5 class="my-3 border-bottom pb-2">게시글작성</h5>
        <form th:object="${questionForm}" method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div th:replace="form_errors :: formErrorsFragment"></div>
            <div class="mb-3">
                <label for="subject" class="form-label">제목</label>
                <input type="text" th:field="*{subject}" id="subject" class="form-control">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea th:field="*{content}" id="content" class="form-control" rows="10"></textarea>
            </div>
            <input type="submit" value="작성완료" class="btn btn-primary my-2">
        </form>
    </div>
</body>
</html>