<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>학교소개</title>
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }

            a {
                text-decoration: none;
            }
        </style>
        <link th:href="@{/blog.css}" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">
                        <a class="text-muted" th:href="@{/login}">회원가입</a>
                    </div>
                    <div class="col-4 text-center">
                        <a class="blog-header-logo text-dark" th:href="@{/greenSchool}">그린고등학교</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="text-muted" href="#" aria-label="Search">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="mx-3"
                                role="img"
                                viewbox="0 0 24 24"
                                focusable="false">
                                <title>Search</title>
                                <circle cx="10.5" cy="10.5" r="7.5"/>
                                <path d="M21 21l-5.2-5.2"/>
                            </svg>
                        </a>
                        <a class="btn btn-sm btn-outline-secondary" href="#">로그인</a>
                    </div>
                </div>
            </header>

            <div class="nav-scroller py-1 mb-2">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 text-muted" th:href="@{/school/info}">학교소개</a>
                    <a class="p-2 text-muted" th:href="@{/notice/list}">공지사항</a>
                    <a class="p-2 text-muted" th:href="@{/school/post}">학생마당</a>
                </nav>
            </div>
            <div class="d-flex py-3">
                <div class="flex-shrink-0">
                    <img class="rounded float-start my-3" id="images">

                        <svg
                            class="bd-placeholder-img img-thumbnail"
                            width="200"
                            height="200"
                            xmlns="http://www.w3.org/2000/svg"
                            preserveaspectratio="xMidYMid slice"
                            focusable="false">

                            <rect width="100%" height="100%" fill="#868e96"/>
                            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">200x200</text>
                        </svg>
                    </img>
                </div>

                <div class="flex-grow-1 ms-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, fugit.
                        Nostrum earum sapiente ipsum rem impedit, hic itaque perferendis laboriosam vero
                        inventore eaque temporibus fuga consequuntur quasi sequi quos animi?
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minima labore ab neque inventore dolor reprehenderit repellendus explicabo, temporibus quis, vero aliquid eligendi modi iusto debitis sed veritatis vitae possimus!</p>
                </div>
            </div>
            <div>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus architecto eius illum odit tempore? Dolor ratione sunt officiis nihil laborum, fugiat fugit odit, ullam delectus ut aut quasi, culpa praesentium.s
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nisi consequatur nulla neque sequi, necessitatibus tenetur officiis, libero ex odio unde sint architecto rem repudiandae id animi nesciunt consequuntur vitae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus labore consectetur nesciunt eius corporis a. In, veritatis vel? Nisi commodi vero doloremque vel aperiam dignissimos facere. Magni illo debitis vero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deserunt aliquam nihil odit est, unde a id nisi sunt et aut, asperiores, quam perspiciatis? Aut repellendus omnis debitis porro sequi!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ducimus eligendi culpa tempore, aperiam temporibus obcaecati voluptas nulla soluta odio commodi quae eaque maxime aut? Pariatur impedit labore aliquid. Ratione.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae eum qui iusto, minima nobis sunt quaerat unde voluptatum dignissimos ipsa placeat suscipit non ipsum? Molestias rerum quo eligendi culpa!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis quisquam similique et nulla magnam sit ducimus sapiente unde vero eaque quaerat saepe ullam cupiditate at odio eum, veniam rerum? Quae.
              </p>
            </div>

        </div>
    <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a th:href="@{/greenSchool}" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a th:href="@{/question/list}" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
    </footer>
  </div>
</body>
</html>